<form action="/student_crud/getUser/" method="post">
<a href="/student_crud/getUser/2">update record</a>
<div class="topnav">
   
    <a class="active" href="/student_crud">Home</a>
    <a href="/student_crud/listuser">listuser</a>
    <!-- <a href="/getUser/2">updateUser</a> -->
    <input type="text" placeholder="User Find.." name="id">
    <input type="submit" value="search"></form>
</div>
</form>


