table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

div {
    display: flex;
    /* justify-content: space-between; */
}

a ,span{
    margin: 20px;
}

.flex{
    margin: 20px;
justify-content: space-between;
}

h1 , .center{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

.flex div{
    margin:0 200px ;
    
}

