<div>
    <!-- <a id="sortOrder"> -->
    <!-- <%=order  %> -->
    
    
    <select name="order" onchange="handle_attend_Change(this)" id="order">
       <option hidden><%=order%></option>
        <option value="DEC2023">DEC 2023</option>
        <option value="JAN2024">JAN 2024</option>
        <option value="FEB2024">FEB 2024</option>
         
    </select>
    <!-- order="12" ? "DEC 2023" : "JAN 2024" -->
    <!-- </a> -->
</div>
<script>
// const que=document.querySelector('#order')
// que.value=<%=order%>

</script>