<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>frame 3</title>
        <link rel="stylesheet" href="/html3/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container ">
                <div class="page-padd flex">
                    <div class="logo">
                        <img src="/html3/assets/HireX_black.png" alt>

                    </div>
                    <nav>
                        <ul class="nav-items">
                            <li class="nav-item"><a href>Works</a></li>
                            <li class="nav-item"><a href>About us</a></li>
                            <li class="nav-item"><a href>Blogs</a></li>
                            <li class="nav-item"><a href>FAQS</a></li>
                            <li class="nav-item"><a href>Contact us</a></li>
                            <li class="nav-item"><button
                                    class="nav-button black center">WE'RE
                                    Hiring<svg width="15" height="14"
                                        viewBox="0 0 15 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                            stroke="white" stroke-width="1.5"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main>
            <section class="section-1">
                <div class="container sec-1">
                    <div class="page-padd">
                        <div class="row sec-1-row">
                            <div class="col col-2 sec-1-col-1">
                                <div class="flex">
                                    <p>WELCOME TO HIREX.</p>
                                    <img src="/html3/assets/Star 1.png" alt>
                                </div>
                                <div>
                                    <h3>Award Winning Digital Agency.</h3>
                                    <p>Digital Agency offering unique solutions
                                        to
                                        create digital presence and increase
                                        your
                                        sales.</p>
                                    <div class="flex">
                                        <input type="text"
                                            placeholder="Your email address"
                                            class="sec-1-box-shadow">

                                        <button
                                            class="yellow sec-1-box-shadow">Request
                                            access</button>
                                    </div>
                                    <button
                                        class="sec-1-button border-none">Open
                                        account and
                                        get 5 boxes</button>
                                </div>
                            </div>

                            <div class="col col-2">

                                <div class="sec-1-col-2">
                                    <div id="sec-1-img-1">
                                        <div class="sec-1-sub-col-2">
                                            <div id="sec-1-img-1-sub-1">
                                                <img
                                                    src="/html3/assets/image 2 (Traced).png"
                                                    alt>
                                            </div>

                                            <div id="sec-1-img-1-sub-2">
                                                <p>web design</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="sec-1-col-2">
                                    <div id="sec-1-img-2">
                                        <div class="sec-2-sub-col-2">
                                            <div id="sec-2-img-1-sub-1">
                                                <img
                                                    src="/html3/assets/image 6 (Traced).png"
                                                    alt>
                                            </div>
                                            <div id="sec-2-img-1-sub-2">
                                                social media
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sec-1-col-2">
                                    <div id="sec-1-img-3">
                                        <div class="sec-3-sub-col-2">
                                            <div id="sec-3-img-1-sub-1">
                                                <img
                                                    src="/html3/assets/image 1 (Traced).png"
                                                    alt>
                                            </div>
                                            <div id="sec-3-img-1-sub-2">
                                                UIX Design
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sec-1-col-2">
                                        <div id="sec-1-img-4">
                                            <img src="/html3/assets/Group 6.png" alt>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-2">
                    <div class="container">
                        <marquee behavior direction>
                            <div class="row-nowrap">
                                <div class="col ">
                                    <div class="flex">
                                        <div class="center">
                                            <p>GET ACCESS NOW!</p>
                                        </div>
                                        <img
                                            src="/html3/assets/image-fBLQvAFN1-transformed 1.png"
                                            alt>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png"
                                                alt
                                                width="3px" height="35px">
                                        </div>

                                    </div>
                                </div>
                                <div class="col ">
                                    <div class="flex">
                                        <div class="center">
                                            <p>GET ACCESS NOW!</p>
                                        </div>
                                        <img
                                            src="/html3/assets/image-fBLQvAFN1-transformed 1.png"
                                            alt>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png"
                                                alt
                                                width="3px" height="35px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="flex">
                                        <div class="center">
                                            <p style="display: flex;">GET ACCESS
                                                NOW!</p>
                                        </div>
                                        <img
                                            src="/html3/assets/image-fBLQvAFN1-transformed 1.png"
                                            alt>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png"
                                                alt
                                                width="3px" height="35px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="flex">
                                        <div class="center">
                                            <p>GET ACCESS NOW!</p>
                                        </div>
                                        <img
                                            src="/html3/assets/image-fBLQvAFN1-transformed 1.png"
                                            alt>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png"
                                                alt
                                                width="3px" height="35px">
                                        </div>

                                    </div>
                                </div>
                            </marquee>
                        </div>
                    </div>
                </section>

                <section class="section-3">
                    <div class="container">
                        <div class="page-padd">

                            <div class="sec-content">
                                <div class="center">
                                    <button
                                        class="orange border-radius button-width">Services</button>
                                </div>
                                <div>
                                    <h5 class="center sub-sec-header">How Hirex.
                                        Work</h5>
                                    <p class="center">The awesome people who
                                        makes
                                        all
                                        this possible</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-3 ">
                                    <div class="sec-3-card">
                                        <p class="center">START HERE</p>
                                        <h6 class="center">Who we are & what we
                                            do</h6>
                                        <div class="center">
                                            <img
                                                src="/html3/assets/Designer _Flatline 1.png"
                                                alt height="230px">
                                        </div>
                                        <div class="flex center">
                                            <button class="green">START HERE<svg
                                                    width="15" height="14"
                                                    viewBox="0 0 15 14"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                        stroke="white"
                                                        stroke-width="1.5"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="sec-3-card">
                                        <p class="center">CUSTOM DESIGN</p>
                                        <h6 class="center">We’ll design your
                                            projects</h6>
                                        <div class="center">
                                            <img
                                                src="/html3/assets/Notifications_Flatline 1.png"
                                                alt height="230px">
                                        </div>
                                        <div class="flex center">
                                            <button class="yellow">START
                                                HERE<svg
                                                    width="15" height="14"
                                                    viewBox="0 0 15 14"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                        stroke="white"
                                                        stroke-width="1.5"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3 ">
                                    <div class="sec-3-card">
                                        <p class="center">CONTACT US</p>
                                        <h6 class="center">Drop us your
                                            message!</h6>
                                        <div class="center">
                                            <img
                                                src="/html3/assets/Fortnite_Two Color 1.png"
                                                alt height="230px">
                                        </div>
                                        <div class="flex center">
                                            <button class="orange">START
                                                HERE<svg
                                                    width="15" height="14"
                                                    viewBox="0 0 15 14"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                        stroke="white"
                                                        stroke-width="1.5"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-4">
                    <div class="container sec-4">
                        <div class="sec-content ">
                            <div class="center">
                                <button
                                    class="blue border-radius button-width">Works</button>
                            </div>
                            <div>
                                <h5 class="center sub-sec-header">Find our
                                    latetest
                                    works</h5>
                                <p class="center">The awesome people who makes
                                    all
                                    this possible</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-2 sec-4-card">
                                <img src="/html3/assets/Rectangle 13.png" alt
                                    width="400px">
                                <div>
                                    <button class="border-radius">Web
                                        deisgn</button>
                                </div>
                                <h6>Website Design For Digital Agency</h6>
                                <p>Build a unique Website with HireX
                                    Template</p>
                                <div class="flex-start">
                                    <a href>Read more<svg width="15" height="14"
                                            viewBox="0 0 15 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                stroke="#060606"
                                                stroke-width="1.5"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="col col-2 sec-4-card">
                                <img src="/html3/assets/Rectangle 13-1.png" alt
                                    width="400px">
                                <div>
                                    <button class="border-radius">3D
                                        Design</button>
                                </div>
                                <h6>Realistic 3d Model of Living Room</h6>
                                <p>Build a unique Website with HireX
                                    Template</p>
                                <div class="flex-start">
                                    <a href>Read more<svg width="15" height="14"
                                            viewBox="0 0 15 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                stroke="#060606"
                                                stroke-width="1.5"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="flex-end">
                            <button class="yellow button-width">View All<svg
                                    width="15"
                                    height="14" viewBox="0 0 15 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                        stroke="#060606" stroke-width="1.5"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </section>

                <section class="section-5">
                    <div class="container sec-5">
                        <div class="page-padd">
                            <div class="content">
                                <h6 class="center sub-sec-header">Plans &
                                    Pricing</h6>
                                <p class="center">The awesome people who makes
                                    all
                                    this
                                    possible</p>
                            </div>
                            <div class="row">
                                <div class="col col-3">
                                    <div class="sec-5-card">
                                        <div class>
                                            <h6 class="center">Free</h6>
                                            <p
                                                class="center sec-5-card-p"><b>$0</b>/
                                                month</p>
                                            <p class="center">Start free while
                                                you
                                                learn
                                                more about our
                                                services</p>
                                        </div>
                                        <hr>
                                        <div>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Free forever get the basic
                                                essentials</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Advanced security and
                                                performance</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Unlimited unhosted sites</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Live support</p>
                                        </div>
                                        <div class="center">
                                            <button class="yellow"><p
                                                    class="sec-5-button-get-started">Get
                                                    started</p></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="sec-5-card">
                                        <div>
                                            <h6 class="center">Basic</h6>
                                            <p
                                                class="center sec-5-card-p"><b>$19</b>/
                                                month</p>
                                            <p class="center">Get powerful tools
                                                to
                                                make
                                                your business
                                                grow</p>
                                        </div>
                                        <hr>
                                        <div>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Free forever get the basic
                                                essentials</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Advanced security and
                                                performance</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Unlimited unhosted sites</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Live support</p>
                                        </div>
                                        <div class="center">
                                            <button class="orange"><p
                                                    class="sec-5-button-get-started">Get
                                                    started</p></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3 ">
                                    <div class="sec-5-card">
                                        <div>
                                            <h6 class="center">Pro</h6>
                                            <p
                                                class="center sec-5-card-p"><b>$99</b>/
                                                month</p>
                                            <p class="center">Take your business
                                                to
                                                the
                                                next level with
                                                our
                                                tools</p>
                                        </div>
                                        <hr>
                                        <div>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Free forever get the basic
                                                essentials</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Advanced security and
                                                performance</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Unlimited unhosted sites</p>
                                            <p><svg width="17" height="13"
                                                    viewBox="0 0 17 13"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1 7.5L5.5 11.5L16 1"
                                                        stroke="#5D5C5B"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Live support</p>
                                        </div>
                                        <div class="center">
                                            <button class="green"><p
                                                    class="sec-5-button-get-started">Get
                                                    started</p></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-6">
                    <div class="container sec-6-con">
                        <div class="page-padd">
                            <div class="flex-start">
                                <div class="arrow" id="arrow-left">
                                    <img
                                        src="/html3/assets/left.png" alt>
                                </div>
                            </div>
                            <div class="row-nowrap " id="scroll-row">
                                <!-- <div class="col col-2 center sec-6-col-pa">
                                <img src="/assets/Rectangle 17.png" alt
                                    height="300">
                            </div>
                            <div class="col col-2 sec-6-col-pa sec-6-col-2">
                                <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                <p>Abel Carden is a TikTok personality and
                                    lip-sync
                                    content creator who has built a fanbase of
                                    more
                                    than 3.2 million followers on the platform.
                                </p>
                            </div> -->

                                <div class="slide slide1 col">
                                    <div class="row">
                                        <div
                                            class="col col-2 center sec-6-col-pa">
                                            <img
                                                src="/html3/assets/testimonials-img.png"
                                                alt
                                                height="300"
                                                class="testimonials">
                                        </div>
                                        <div
                                            class="col col-2 sec-6-col-pa sec-6-col-2">
                                            <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                            <p>Abel Carden is a TikTok
                                                personality and
                                                lip-sync
                                                content creator who has built a
                                                fanbase of
                                                more
                                                than 3.2 million followers on
                                                the platform.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide slide2 col">
                                    <div class="row">
                                        <div
                                            class="col col-2 center sec-6-col-pa">
                                            <img
                                                src="/html3/assets/testimonials-img.png"
                                                alt
                                                height="300"
                                                class="testimonials">
                                        </div>
                                        <div
                                            class="col col-2 sec-6-col-pa sec-6-col-2">
                                            <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                            <p>Abel Carden is a TikTok
                                                personality and
                                                lip-sync
                                                content creator who has built a
                                                fanbase of
                                                more
                                                than 4.2 million followers on
                                                the platform.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="slide slide col">
                                    <div class="row">
                                        <div
                                            class="col col-2 center sec-6-col-pa">
                                            <img
                                                src="/html3/assets/testimonials-img.png"
                                                alt
                                                height="300"
                                                class="testimonials">
                                        </div>
                                        <div
                                            class="col col-2 sec-6-col-pa sec-6-col-2">
                                            <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                            <p>Abel Carden is a TikTok
                                                personality and
                                                lip-sync
                                                content creator who has built a
                                                fanbase of
                                                more
                                                than 5.2 million followers on
                                                the platform.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col col-2 center sec-6-col-pa">
                                <img src="/assets/Rectangle 17.png" alt
                                    height="300">
                            </div>
                            <div class="col col-2 sec-6-col-pa sec-6-col-2">
                                <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                <p>Abel Carden is a TikTok personality and
                                    lip-sync
                                    content creator who has built a fanbase of
                                    more
                                    than 3.2 million followers on the platform.
                                </p>
                            </div>

                            <div class="col col-2 center sec-6-col-pa">
                                <img src="/assets/Rectangle 17.png" alt
                                    height="300">
                            </div>
                            <div class="col col-2 sec-6-col-pa sec-6-col-2">
                                <h6>"We select to practice in Minerva since it is both useful, and our clients basically adore it! It has stood the test of time and proceeds"</h6>
                                <p>Abel Carden is a TikTok personality and
                                    lip-sync
                                    content creator who has built a fanbase of
                                    more
                                    than 3.2 million followers on the platform.
                                </p>
                            </div>
                        </div> -->

                                <div class="flex-end">
                                    <div class="arrow" id="arrow-right">
                                        <img
                                            src="/html3/assets/arrow-right-black.png"
                                            alt>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="section-7">
                        <div class="container">
                            <div class="page-padd">
                                <div>
                                    <button
                                        class="orange border-radius button-sec-7-1">Blog</button>
                                    <h6 class="sub-sec-header">Stay updated</h6>
                                </div>

                                <div class="row">
                                    <div class="col col-2 sec-7-col">
                                        <div class="img">
                                            <img src="/html3/assets/Rectangle 19.png"
                                                alt
                                                width="350px">
                                        </div>
                                        <div class="sec-7-row">
                                            <div>
                                                <button
                                                    class="border-radius">Web
                                                    deisgn</button>
                                            </div>
                                            <div>
                                                <h6>We Launch Minerva Template
                                                    this
                                                    Week!</h6>
                                                <p>Build a unique Website with
                                                    HireX
                                                    Template</p>
                                                <div class="flex-start">
                                                    <a href>Read more<svg
                                                            width="15"
                                                            height="14"
                                                            viewBox="0 0 15 14"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                                stroke="#060606"
                                                                stroke-width="1.5"
                                                                stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-2 sec-7-col">
                                        <div class="img">
                                            <img src="/html3/assets/Rectangle 20.png"
                                                alt
                                                width="350px">
                                        </div>
                                        <div class="sec-7-row">
                                            <div>
                                                <button
                                                    class="border-radius">Web
                                                    deisgn</button>
                                            </div>
                                            <div>
                                                <h6>Introducing the Non-Code
                                                    Webflow
                                                    Guide</h6>
                                                <p>Build a unique Website with
                                                    HireX
                                                    Template</p>
                                                <div class="flex-start">
                                                    <a href>Read more<svg
                                                            width="15"
                                                            height="14"
                                                            viewBox="0 0 15 14"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                                stroke="#060606"
                                                                stroke-width="1.5"
                                                                stroke-linejoin="round" />
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="section-8">
                        <div class="container">
                            <div class="page-padd">

                                <div class="row">
                                    <div class="col col-2 sec-8-col">
                                        <h5>Get our latests news & updates</h5>
                                        <div class="form">
                                            <div>
                                                <label
                                                    for="name">name</label><input
                                                    type="text" id="name">
                                            </div>
                                            <hr>
                                            <div>
                                                <label
                                                    for="email">email</label><input
                                                    type="text" id="email">
                                            </div>
                                            <hr>
                                            <div class="space-betwwen">

                                                <label for>SUBSCRIBE</label>
                                                <svg width="15"
                                                    class="justify-content"
                                                    height="14"
                                                    viewBox="0 0 15 14"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M0 7H14M14 7L8 1M14 7L8 12.5"
                                                        stroke="#060606"
                                                        stroke-width="1.5"
                                                        stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <div
                                        class="col col-2 sec-8-col sec-8-col-2">
                                        <p>We select to practice in Minerva
                                            since it is
                                            both
                                            useful and commonsense, and our
                                            clients
                                            basically adore it</p>
                                        <button
                                            class="yellow border-radius">Book a
                                            Call</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-9">
                    <div class="container">
                        <marquee behavior direction>

                            <div class="row-nowrap">
                                <div class="col sec-9-width ">
                                    <div class="flex ">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png" alt
                                                width="25px"
                                                height="2px">

                                        </div>

                                    </div>
                                </div>
                                <div class="col sec-9-width">
                                    <div class="flex">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Group 59.png" alt
                                                width="15px"
                                                height="15px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col sec-9-width ">
                                    <div class="flex ">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png" alt
                                                width="25px"
                                                height="2px">

                                        </div>

                                    </div>
                                </div>
                                <div class="col sec-9-width">
                                    <div class="flex">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Group 59.png" alt
                                                width="15px"
                                                height="15px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col sec-9-width ">
                                    <div class="flex ">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png" alt
                                                width="25px"
                                                height="2px">

                                        </div>

                                    </div>
                                </div>
                                <div class="col sec-9-width">
                                    <div class="flex">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Group 59.png" alt
                                                width="15px"
                                                height="15px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col sec-9-width ">
                                    <div class="flex ">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png" alt
                                                width="25px"
                                                height="2px">

                                        </div>

                                    </div>
                                </div>
                                <div class="col sec-9-width">
                                    <div class="flex">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Group 59.png" alt
                                                width="15px"
                                                height="15px">
                                        </div>

                                    </div>
                                </div>

                                <div class="col sec-9-width ">
                                    <div class="flex ">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Line 4.png" alt
                                                width="25px"
                                                height="2px">

                                        </div>

                                    </div>
                                </div>
                                <div class="col sec-9-width">
                                    <div class="flex">
                                        <p>THANK YOU FOR YOUR VISIT</p>
                                        <div class="center">
                                            <img src="/html3/assets/Group 59.png" alt
                                                width="15px"
                                                height="15px">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </marquee>
                    </div>
                </section>
        </main>

        <footer>
                <div class="container">
                    <div class="page-padd">
                        <div>
                            <img src="/html3/assets/HireX_black.png" alt>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col col-4">
                                <h6>Products</h6>
                                <p><a href class="flex-start">Platform</a></p>
                                <p><a href class="flex-start">Store
                                        Overview</a></p>
                                <p><a href class="flex-start">Email
                                        Reports</a></p>
                                <p><a href class="flex-start">Portfolio</a></p>

                            </div>
                            <div class="col col-4">
                                <h6>Resources</h6>
                                <p><a href class="flex-start">Case Studies</a>
                                </p>
                                <p><a href class="flex-start">Product Guides</a>
                                </p>
                                <p><a href class="flex-start">Reports</a>
                                </p>
                                <p><a href class="flex-start">Blog</a>
                                </p>
                                <p><a href class="flex-start">FAQ</a></p>
                            </div>
                            <div class="col col-4">
                                <h6>Company</h6>
                                <p><a href class="flex-start">Careers</a>
                                </p>
                                <p><a href class="flex-start">Contact Sales</a>
                                </p>
                                <p><a href class="flex-start">Contact
                                        Support</a></p>
                            </div>
                            <div class="col col-4">
                                <h6>Partners</h6>
                                <p><a href class="flex-start">Partner With
                                        Us</a></p>
                            </div>
                        </div>

                        <div class="space-betwwen">
                            <p>Terms and Conditions
                                Privacy Policy</p>
                            <p>©HIREX, Inc. 2022</p>
                        </div>
                    </div>
        </footer>
    </body>
        <script src="/html3/style.js"></script>
</html>
        