<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <style>
        th,td,table{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    -->
    <hr>
    <h1>QUERY</h1>
    <%=query%>
    <hr>
    <%-include('./component/data_read.ejs')  %>
    <%-include('./component/pagination.ejs')  %>

    <a href="/">GO TO HOME PAGE</a>
<!-- </body>
</html> -->